/* Estilos base */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #2c3e50, #4ca1af);
    background-repeat: repeat;
}

.container {
    margin-top: 2vh;
}

/* Estilos base para el encabezado y el logo */
.header {
    display: flex;
    justify-content: space-between; /* Esto alinea el logo a la izquierda y el menú a la derecha */
    align-items: center;
    padding: 0.5vh; /* Espaciado flexible en función del viewport */
    background-color: #F5F5F5;
    transition: padding 0.3s ease; /* Transición suave al reducir tamaño */
}

/* Logo */
.logo {
    width: 27vw;
    height: auto; /* Mantener relación de aspecto */
    transition: transform 0.2s ease; /* Suavidad en el cambio de tamaño */
}

.logo:hover {
    transform: scale(1.1); /* Aumenta el tamaño del logo al 110% al hacer hover */
}

@media (min-width: 1024px) {
    .logo {
        width: 20vw; /* Cambiar a 10vw cuando la pantalla es de 1024px o menos */
        height: auto; /* Mantener relación de aspecto */
        transition: transform 0.2s ease; /* Suavidad en el cambio de tamaño */
    }
}

/* Menú de usuario */
.user-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Esto asegura que el menú se alinee a la derecha */
    padding: 1vw;
    position: relative;
}

.username {
    margin-right: 0.5vw;
    font-size: 2vw;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    font-size: 1vw;
    cursor: pointer;
}

.dropdown-menu {
    display: none; /* Ocultar menú por defecto */
    position: absolute;
    top: 100%; /* Posicionarlo justo debajo */
    right: 0;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    padding: 1vw;
    z-index: 10;
}

/* Mostrar menú al hacer hover en el dropdown o en la flecha */
.dropdown:hover .dropdown-menu,
.dropdown-toggle:hover + .dropdown-menu {
    display: block;
}

.logout-btn {
    min-width: 8vw; /* Ancho mínimo para asegurar que el texto quepa en una sola línea */
    padding: 0.5vw 2vw; /* Padding ajustado para hacer el botón más alargado */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 1em; /* Bordes redondeados */
    font-size: 1.2vw;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #0056b3;
}

/* Menú de navegación */
nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    background-color: rgba(0, 0, 0, 0.3); /* Fondo transparente con color oscuro */
    z-index: 10; /* Asegúrate de que el menú esté por encima de otros elementos */
    height: min(20vw, 80px); /* Altura dinámica y mayor para botones más grandes */
}

/* Estilos para los enlaces del menú */
.navlink {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 2vw; /* Separación entre enlaces */
    padding: 15px 30px; /* Botones más grandes */
    background-color: #007bff; /* Azul */
    color: white; /* Texto blanco */
    font-size: 1.5rem; /* Texto más grande */
    font-weight: bold;
    border-radius: 12px; /* Bordes más redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombras suaves */
    text-decoration: none; /* Quitar subrayado */
    transition: all 0.3s ease; /* Animación suave */
}

/* Hover para los enlaces */
.navlink:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el ratón */
    color: white; /* Texto blanco al hacer hover */
    transform: scale(1.1); /* Efecto de agrandamiento */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Incrementa la sombra */
}

/* Tipografía adaptable */
.navlink span {
    font-size: clamp(16px, 1.5vw, 22px); /* Tamaño de texto adaptable, mayor tamaño */
}

/* Estilo para el scrollable-div */
.scrollable-div {
    width: 100%;
    max-height: calc(100vh - 60px); /* Restamos la altura del nav (60px) */
    overflow-y: auto;
    border: 1px solid #ccc; /* Opcional, para visibilidad */
    display: grid;
    grid-template-columns: 1fr; /* Por defecto, 1 columna (para pantallas pequeñas) */
    gap: 10px;
    padding-bottom: 80px; /* Asegura que el contenido no se sobrepase y deje espacio para el nav */
}

/* Para pantallas medianas */
@media (min-width: 600px) {
    .scrollable-div {
        grid-template-columns: 1fr 1fr;
    }
}

/* Para pantallas grandes */
@media (min-width: 900px) {
    .scrollable-div {
        grid-template-columns: 1fr 1fr 1fr; /* En pantallas grandes, 3 columnas */
    }
}

.card {
    padding: 8px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    display: flex;
    flex-direction: column; /* Asegura que los elementos dentro de la card estén alineados en columna */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}

.card-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.card-img {
    width: 130px; /* Ancho fijo */
    height: 140px; /* Alto fijo */
    object-fit: cover; /* Ajusta la imagen sin distorsionarla */
    border-radius: 4px;
    margin-right: 15px;
}

.button-group {
    display: flex;
    justify-content: flex-end; /* Alinea los botones al final (derecha) de la card */
    gap: 10px;
    margin-top: 10px; /* Agrega un pequeño espacio superior */
    flex-wrap: wrap; /* Permite que los botones se ajusten a una nueva línea si es necesario */
}

.card-btn {
    padding: 10px;
    width: 95px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
}

.card-btn:hover {
    transform: scale(1.05);
}

.card-btn.ver-telefono {
    background-color: #28a745; /* Verde para el botón de Ver telefono */
    color: white;
}

.card-btn.ver-telefono:hover {
    background-color: #218838;
}

.card-btn.agregar {
    background-color: #ffc107; /* Amarillo para el botón de Agregar */
    color: white;
}

.card-btn.agregar:hover {
    background-color: #e0a800;
}

.card-body {
    margin-top: 15px;
    flex-grow: 1; /* Permite que el cuerpo de la tarjeta ocupe el espacio restante */
}

.card-title {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.card-text {
    font-size: 14px;
    color: #555;
    margin: 10px 0;
}

.card-text small {
    color: #888;
}


.card-text.nombre {
    font-size: 1.2rem; /* Aumenta el tamaño de la fuente */
    font-weight: bold; /* Texto en negrita */
    color: #000; /* Negro para el nombre */
    text-align: left; /* Alinear a la izquierda */
    margin-top: 10px; /* Espaciado hacia arriba */
}

.card-text.telefono {
    font-size: 1.2rem; /* Aumenta el tamaño de la fuente */
    font-weight: bold; /* Texto en negrita */
    color: #4CAF50; /* Verde para el teléfono */
    text-align: left; /* Alinear a la izquierda */
    margin-top: 5px; /* Espaciado hacia arriba */
}

.card-text small.text-muted {
    font-size: 16px; /* Aumenta el tamaño de la fuente */
    font-weight: bold; /* Pone el texto en negrita */
    color: #007bff; /* Cambia el color a un azul más brillante */
    background-color: rgba(0, 123, 255, 0.1); /* Añade un fondo azul suave */
    padding: 4px 8px; /* Espaciado alrededor del texto */
    border-radius: 4px; /* Bordes redondeados */
    box-shadow: 0px 2px 5px rgba(0, 123, 255, 0.3); /* Añade una sombra sutil */
}



