/* Estilos base */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #2c3e50, #4ca1af);
  background-repeat: repeat;
}

.container {
  margin-top: 2vh;
}
/* Estilos base para el encabezado y el logo */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5vh; /* Espaciado flexible en función del viewport */
  background-color: #F5F5F5;
  transition: padding 0.3s ease; /* Transición suave al reducir tamaño */


  
}

.logo {
  width: 27vw;
  height: auto; /* Mantener relación de aspecto */
  transition: transform 0.2s ease; /* Suavidad en el cambio de tamaño */
}

.logo:hover {
  transform: scale(1.1); /* Aumenta el tamaño del logo al 110% al hacer hover */
}

@media (min-width: 1024px) {
  .logo {
    width: 20vw; /* Cambiar a 10vw cuando la pantalla es de 1024px o menos */
    height: auto; /* Mantener relación de aspecto */
    transition: transform 0.2s ease; /* Suavidad en el cambio de tamaño */
  }
}




nav {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1vh;
  /* background-color: #E5D9F2; */
}

.navlink {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 2vw;

  transition: transform 0.3s ease;
}

.navlink:hover {
  transform: scale(1.1);
}

.navlink img {
  width: 15vw;
  height: auto;
}

/* Cambiar el tamaño de la imagen en pantallas de 1024px o menos */
@media (min-width: 1024px) {
  .navlink img {
    width: 8vw; /* Cambiar a 10vw cuando la pantalla es de 1024px o menos */
  }
}


.user-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1vw;

  position: relative;
}

.username {
  margin-right: 0.5vw;
  font-size: 2vw;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  font-size: 1vw;
  cursor: pointer;
}

.dropdown-menu {
  display: none; /* Ocultar menú por defecto */
  position: absolute;
  top: 100%; /* Posicionarlo justo debajo */
  right: 0;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  padding: 1vw;
  z-index: 10;
}

/* Mostrar menú al hacer hover en el dropdown o en la flecha */
.dropdown:hover .dropdown-menu,
.dropdown-toggle:hover + .dropdown-menu {
  display: block;
}

.logout-btn {
  min-width: 8vw;      /* Ancho mínimo para asegurar que el texto quepa en una sola línea */
  padding: 0.5vw 2vw;  /* Padding ajustado para hacer el botón más alargado */
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 1em;   /* Bordes redondeados */
  font-size: 1.2vw;
  white-space: nowrap;  /* Evita que el texto se divida en varias líneas */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #e60000;
}

